APP_PORT=8080

# Database
POSTGRES_PASSWORD=change-me
DATABASE_URL=postgres://postgres:change-me@db:5444/vpnpannel?sslmode=disable

# Auth
JWT_SECRET=change-me
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin1234
FCM_SERVER_KEY=

# Runtime
GOLANG_VERSION=1.23.4
NETWORK_NAME=dm-network
GO_CONTAINER=vpnpannel-app-container
DOCKER_REGISTRY=registry.docker.ir/

# Splash
SPLASH_URL=https://wooddentools.com/api/protocols/splash
SPLASH_INTERVAL_MINUTES=1

# Splash headers
SPLASH_HEADER_giat=
SPLASH_HEADER_build=false
SPLASH_HEADER_seen=1
SPLASH_HEADER_sign=
SPLASH_HEADER_token=
SPLASH_HEADER_firebase_token=
SPLASH_HEADER_sha_hexadecimal=
SPLASH_HEADER_version_code=
SPLASH_HEADER_app_name=co.vpn.plus
SPLASH_HEADER_User_Agent=Dalvik/2.1.0 (Linux; U; Android 7.1.2; SM-N976N Build/QP1A.190711.020)
SPLASH_HEADER_Content_Type=application/json
