<div class="stats stats-vertical lg:stats-horizontal shadow ">
  <div class="stat">
    <div class="stat-title">کاربران</div>
    <div class="stat-value">{{ .users }}</div>
  </div>
  <div class="stat">
    <div class="stat-title">سرور تبلیغ</div>
    <div class="stat-value">{{ .splash }}</div>
  </div>
  <div class="stat">
    <div class="stat-title">سرورها</div>
    <div class="stat-value">{{ .nodes }}</div>
  </div>
  <div class="stat">
    <div class="stat-title">گزارش خرابی فعال</div>
    <div class="stat-value">{{ .outages }}</div>
  </div>
</div>




